* {
  box-sizing: border-box;
}

// add column button 

.add_column {
  border: none;
  background-color: #6A81F5;
  color: white;
  width: fit-content;
  margin: 1em 2vw 0;

  font-family: acumin-pro-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;

  border-radius: 0.5em;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

// New task modal

.modal {
  width: 48vw;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 0.6s ease;

  border-radius: 0.5em;
  z-index: 3;
  background-color: #BFDBED;
  text-align: center;
  
  .form_header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 3em;
    text-align: center;   
    
    .form_title {
      font-size: 1.5rem;
      
      font-family: acumin-pro-wide, sans-serif;
      font-weight: 500;
      font-style: normal;
      
      color: #245C7F;
    }
    
    .close-modal{
      border: none;
      background-color: transparent;
      float: right;
      color: white;
      cursor: pointer;
      font-size: 1.3rem;
    }
    
  }
  
  .form_questions {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0.75rem 2rem;
    
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: italic;
    
    .form_column {
      display: block;
      font-size: medium;
      width: 50%;
      height: 100%;
      
      padding: 0.8em 1.2em;
      
      position: relative;
      justify-content: space-evenly;
      text-align: left;
      
      .task_input {
        padding: 0.2rem 1rem;
        width: 100%;
        margin: 0.5rem 0rem;
        
        font-family: acumin-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        
        color: #838383;
        border: none;
        
      }
      
      #completionTimeInput {
        width: 35%;
        margin-right: 0.3rem;
      }
      
    }
    
  }

  #task_submit {
    background-color: white;
    color: #245C7F;

    font-family: acumin-pro-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

    border: none;
    border-radius: 0.5em;
    padding: 0.5rem 1.5rem;
    margin: auto;
    margin-bottom: 2.5em;
    cursor: pointer;
  }
  
}

.modal.active {
  position: fixed;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

// kanban board

.kanban_board {
  width: 103vw;
  height: 100vh;
  margin: 0.5em 2vw;
  display: flex;
  padding: 0;
  
  .column_container {
    display: block;
    width: 18%;
    height: fit-content;
    margin-right: 0.3em;
    margin-top: 0.5em;
    justify-content: space-between;
    
    #tasklist {
      background-color: #FF92AC;
    }
    
    #task_list {
      color: white;
      font-size: 1em;
      font-family: acumin-pro-wide, sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    #tasklist_header {
      text-align: center;
      justify-content: center;
      background-color: #FF92AC;
    }
    
    .column_header {
      display: flex;
      width: 100%;
      height: 100%;
      
      padding: 0.6em;
      border-radius: 0.5em;
      background-color: #BFDBED;
      overflow: hidden;
      margin-bottom: 0;
      
      justify-content: space-between;
      align-items: center;
      
      .header_txt {
        color: #245C7F;
        font-size: 1em;
        font-family: acumin-pro-wide, sans-serif;
        font-weight: 500;
        font-style: normal;
        
      }
      
      .header_buttons {
        display: inline;
        margin: none;
        padding: none;

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    
    .kanban_column {
      width: 100%;
      height: 95vh;
      margin: 2.5% 0;
      position: relative;
      padding: 1.5em 1rem;
      border-radius: 0.5em;
      background-color: #6A81F5;
      overflow: hidden;
      list-style: none;
      
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      
      .new_task {
        width: 100%;
        height: fit-content;
        padding: 0.5rem 1rem;

        background-color: transparent;
        transition: 0.5s ease;
        color: white;
        outline: none;
        border: none;

        font-size: 1rem;
        border-radius: 0.5em;
        cursor: pointer;
        
        font-family: acumin-pro-wide, sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .new_task:hover {
        color: #6A81F5;
      }
    }
  }
}

// Individiual task cards

.card {
  width: 100%;
  height: max-content;
  display: flex;

  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  font-size: 0.9em;

  margin: 0.5rem 0;
  text-align: left;
  color: white;
  
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  
  
  .delete {
    border: none;
    background-color: transparent;
    float: right;
    color: #A8A8A8;
    cursor: pointer;
  }

}

#low {
  background-color: #FFF8E6;
}

#medium {
  background-color: #FCE4D9;
}

#high {
  background-color: #FFE6E6;
}

// overlay

#overlay {
  display: none;
  position: sticky;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;  
}



















