#task-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1 fr;
    grid-template-areas: "tasklist taskform";
    
}

#tasklist {
    grid-area: tasklist;
}

#taskform {
    grid-area: taskform;
    max-width: 400px;
    margin: 0 auto;

    label {
        display: block;
        width: 100%;
    }

}